@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");

:root {
  /* Primary */
  --color-primary1: hsl(158, 36%, 37%);
  --color-primary2: hsl(30, 38%, 92%);

  /* Neutral */
  --color-neutral1: hsl(212, 21%, 14%);
  --color-neutral2: hsl(228, 12%, 48%);
  --color-neutral3: hsl(0, 0%, 100%);

  --ff-primary: "Montserrat", sans-serif;
  --ff-secondary: "Fraunces", serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* * tags */
body {
  display: flex;
  flex-direction: column;
  font-family: var(--ff-primary);
  font-size: 14px;
  background-color: var(--color-primary2);
}

main {
  display: flex;
  border-radius: 10px;
  border: 1px solid red;
  /* width: min(90%, 1440px); */
  width: 750px; 
  /* * below, this applies the radius to child elementas */
  overflow: hidden;
  align-items: stretch;
}

/* ! this splits column sizes evenly */
main > * {
  flex-basis: 100%;
}

img {
  /* background-image: url(./images/image-product-desktop.jpg); */
  max-width: 100%;
  height: auto;
}

/* * components */
.item-details {
  background-color: var(--color-neutral3);
  padding: 2em;
}

.item-details > * {
  margin-block: 1em;
}

.item-details__type {
  color: var(--color-neutral2);
  text-transform: uppercase;
}

.item-details__name {
  font-family: var(--ff-secondary);
  font-size: 2em;
}

.item-details__descr {
  color: var(--color-neutral2);
  font-size: 1em;
  line-height: 1.5em;
}

.item-details__price {
  color: var(--color-primary1);
  font-family: var(--ff-secondary);
  font-size: 2em;
}

.item-details__price--markdown {
  color: var(--color-neutral2);
  text-decoration: line-through;
}

.btn {
  display: block;
  border-radius: 10px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  padding: 16px 0px;
  background-color: var(--color-primary1);
  color: var(--color-neutral3);
  width: 100%;
}

.btn img {
  padding: 0px 12px;
}

.btn:hover {
  background-color: hsl(158, 36%, 22%);
}

.btn:active {
  background-color: var(--color-primary1);
}

/* FEM */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
